#header.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}
#header.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
._scrollFadeIn {
  opacity: 0;
  visibility: hidden;
  transition: 2s;
}

._isActiveFadeIn {
  opacity: 1;
  visibility: visible;
}

._scrollSlideUp {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(30%);
}

._isActiveSlideUp {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

._scrollSlideInLeft {
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
  transform: translateX(-10%);
}

._isActiveSlideInLeft {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.p-about__textBox._isActiveSlideLeft {
  transform: translateX(0);
  opacity: 1;
  transition-duration: 0.4s;
  transition-delay: 0s;
}

._scrollBothListUp {
  opacity: 0;
  transform: translateY(10px);
  transition: all 1s;
}

._scrollBothListUp.show {
  opacity: 1;
  transform: translateY(0);
}

._scrollBothListUp.show:nth-of-type(1) {
  transition-delay: 0s;
}

._scrollBothListUp.show:nth-of-type(2) {
  transition-delay: 0.2s;
}

._scrollBothListUp.show:nth-of-type(3) {
  transition-delay: 0.4s;
}

._linkSlideLeft {
  opacity: 0;
  transform: translateX(-10%);
  transition: all 1s;
}

._linkSlideLeft.show {
  opacity: 1;
  transform: translateY(0);
}

._linkSlideLeft.show:nth-of-type(1) {
  transition-delay: 0s;
}

._linkSlideLeft.show:nth-of-type(2) {
  transition-delay: 0.1s;
}

._linkSlideLeft.show:nth-of-type(3) {
  transition-delay: 0.2s;
}

._linkSlideLeft.show:nth-of-type(4) {
  transition-delay: 0.3s;
}

._linkSlideLeft.show:nth-of-type(5) {
  transition-delay: 0.4s;
}

._linkSlideLeft.show:nth-of-type(6) {
  transition-delay: 0.5s;
}

._linkSlideLeft.show:nth-of-type(7) {
  transition-delay: 0.6s;
}

._linkSlideLeft.show:nth-of-type(8) {
  transition-delay: 0.7s;
}

._linkSlideLeft.show:nth-of-type(9) {
  transition-delay: 0.8s;
}

.js-imgBlur {
  filter: blur(4px);
  transition: all 1s;
}

.js-imgBlur.addBlur {
  filter: blur(0);
}

.js-imgBlur.addBlur:nth-of-type(1) {
  transition-delay: 0s;
}

.js-imgBlur.addBlur:nth-of-type(2) {
  transition-delay: 0.1s;
}

.js-imgBlur.addBlur:nth-of-type(3) {
  transition-delay: 0.2s;
}

.js-imgBlur.addBlur:nth-of-type(4) {
  transition-delay: 0.3s;
}

.js-imgBlur.addBlur:nth-of-type(5) {
  transition-delay: 0.4s;
}

.l-header__navSp.js-active {
  display: block;
  visibility: visible;
  opacity: 1;
  color: #fff;
  font-size: 3.7777vw;
  transition: 0.1s;
}

.btn_close.js-btnIsActive {
  display: block;
  visibility: visible;
  opacity: 1;
  color: #242E43;
}

.btn_open.js-btnIsaHidden {
  display: none;
}

.l-header__logoDeepBlue.js-logoImg {
  display: block;
}

.js-textHidden {
  opacity: 0;
  transition: 0.5s;
}

.js-elementIsHidden {
  display: none;
}

.p-hero__slickDots li.js-isActiveColor {
  background-color: #EBE9E1;
}

.js-textColorYellow {
  color: #bffa87;
}

.js-textColorGreen {
  color: #12a49a;
}

.js-textColor {
  color: #242E43;
}/*# sourceMappingURL=js.css.map */