@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "cursive", "angie-sans", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

.br_pc {
  display: block;
}

.br_sp {
  display: none;
}

.c-header__btnBox {
  display: none;
}

.l-main {
  width: 100%;
}

.l-header {
  position: relative;
}
.l-header__wrapper {
  display: none;
}
.l-header__container {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  padding: 1.5625vw 0;
  justify-content: space-between;
  color: #fff;
}
.l-header__title {
  width: 30%;
  padding: 0 1.5625vw;
}
.l-header__title h1 {
  font-size: 1.55555vw;
}
.l-header__titleSp {
  display: none;
}
.l-header__nav {
  width: 50vw;
  position: relative;
}
.l-header__navList ul {
  display: flex;
  font-size: 1.3333vw;
}
.l-header__navItem:not(:first-child) {
  margin-left: 4.6875vw;
}
.l-header__navLink {
  color: #fff;
}
.l-header__logoWhite {
  position: absolute;
  right: 1.5625vw;
  top: 0;
  width: 3.3333vw;
  height: 3.3333vw;
  background-image: url("../images/hero/hero_logoImg_white.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}
.l-header__logoDeepBlue {
  position: absolute;
  right: 1.5625vw;
  top: 0;
  width: 3.3333vw;
  height: 3.3333vw;
  background-image: url("../images/hero/hero_logoImg_deepBlue.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  display: none;
}
.l-header__navSp {
  display: none;
}
.l-header__navSpListMain {
  display: flex;
  font-size: 1.6vw;
}

.p-hero {
  width: 100%;
}
.p-hero__inner {
  color: #EDECE7;
  background-color: #242E43;
  font-size: 1.6vw;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}
.p-hero__wrapper {
  display: none;
}
.p-hero__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.p-hero__container--main {
  position: absolute;
  top: 54%;
  left: 0;
  transform: translateY(-50%);
}
.p-hero__text {
  display: flex;
  margin-top: 13.5%;
  margin-left: 1.5625vw;
}
.p-hero__text p:first-child {
  margin-top: -4%;
  line-height: 1.5;
}
.p-hero__text p:last-child {
  margin-left: 22.65vw;
}
.p-hero__text, .p-hero__img {
  width: 50vw;
}
.p-hero__slickSlider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  user-select: none;
}
.p-hero__slickList {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.p-hero__slickTrack {
  position: relative;
  top: 0;
  left: 0;
  height: 31.96875vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.p-hero__slickTrack:before, .p-hero__slickTrack:after {
  display: table;
  content: "";
}
.p-hero__slickTrack img {
  position: absolute;
}
.p-hero__slickTrack--img {
  width: 100%;
  height: 32vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-hero__slickDots {
  display: flex;
  margin-top: 0.78125vw;
}
.p-hero__slickDots li {
  background-color: #585858;
  width: 1.5625vw;
  height: 1px;
}
.p-hero__slickDots li:not(:first-child) {
  margin-left: 0.5vw;
}
.p-hero__slickDots li button {
  opacity: 0;
}
.p-hero__subContainer {
  align-items: flex-end;
  position: absolute;
  bottom: 1.25vw;
  left: 0;
  right: 0;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.p-hero__subText, .p-hero__mark {
  width: 50vw;
}
.p-hero__subText {
  margin-left: 10px;
}
.p-hero__mark {
  text-align: right;
  font-size: 1vw;
  font-weight: 700;
  margin-right: 10px;
}
.p-hero__mark img {
  display: none;
}
.p-hero__flashing {
  animation: blinking 2s ease-in-out infinite alternate;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.p-about__inner {
  padding: 10vh 11.875vw 0;
  position: relative;
}
.p-about__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding-top: 17vh;
}
.p-about__text {
  width: 40vw;
  position: relative;
}
.p-about__title {
  font-size: 1.4vw;
  line-height: 1.4;
  position: absolute;
  left: 0;
  top: 37%;
}
.p-about__titleLang {
  font-size: 4.5vw;
  display: block;
}
.p-about__textBox {
  width: 36vw;
  padding-top: 18%;
  position: relative;
  transform: translateX(-2rem);
  position: relative;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.p-about__commentEn {
  font-size: 1vw;
  line-height: 1.6;
}
.p-about__commentJp {
  font-size: 1vw;
  line-height: 2;
  margin-top: 3vw;
}
.p-about__img {
  width: 28vw;
  height: 45.15625vw;
}
.p-about__parallax {
  height: 100%;
  overflow: hidden;
}
.p-about__parallaxInner {
  height: 110%;
  top: 0;
  background-image: url("../images/about/pc/about_img_pc.jpg");
  background-position: top 100% center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.p-menu__inner {
  padding: 27vh 2.5vw 0;
  display: flex;
  justify-content: space-between;
}
.p-menu__title {
  font-size: 2.7vw;
}
.p-menu__titleBold {
  font-weight: 700;
}
.p-menu__imgBox {
  width: 68.75vw;
  display: inline-block;
}
.p-menu__list {
  display: flex;
  justify-content: space-between;
}
.p-menu__listItem {
  width: 32.38%;
}
.p-menu__listItem img {
  width: 100%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
.p-menu__name {
  font-size: 0.77777vw;
  margin-top: 1vw;
  font-weight: 600;
}
.p-menu__other {
  margin-top: 8vw;
}
.p-menu__otherTitle {
  font-size: 1.2222vw;
  line-height: 2;
  border-bottom: 1px solid #000;
  font-weight: 600;
}
.p-menu__otherContents {
  width: 100%;
  min-height: 15.6vh;
  padding: 0.5vw 0;
  display: flex;
}
.p-menu__otherContents:not(:first-child) {
  border-top: 1px solid #D9D9D9;
}
.p-menu__otherName {
  width: 84%;
  display: flex;
}
.p-menu__otherName h4 {
  width: 48%;
  font-size: 2vw;
  font-weight: 600;
}
.p-menu__otherName p {
  width: 52%;
  margin-top: 0.4vw;
  font-size: 1.11111vw;
  font-weight: 600;
}
.p-menu__otherPriceBox {
  width: 13.6%;
  font-size: 1.11111vw;
  font-weight: 600;
}
.p-menu__otherPriceBox dl {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4vw;
}

.p-shop {
  padding-top: 27vh;
}
.p-shop__inner {
  position: relative;
}
.p-shop__inner h2 {
  font-size: 2.7vw;
  position: absolute;
  top: 0;
  left: 2.5vw;
  font-weight: 700;
}
.p-shop__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.p-shop__text {
  width: 20%;
  margin-left: 2.5vw;
  margin-bottom: 2vw;
  font-size: 1vw;
}
.p-shop__imgBox {
  width: 70.15625%;
}
.p-shop__list {
  display: flex;
}
.p-shop__list img {
  width: 100%;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-shop__name {
  margin-top: 0.5vw;
  font-size: 1vw;
  font-weight: 600;
}
.p-shop__link {
  margin-top: 11vh;
  text-align: center;
}
.p-shop__linkBtn {
  width: 40vw;
  display: inline-block;
  padding: 1.3vw 0 1.2vw 0;
  font-size: 2vw;
  color: #fff;
  background-color: #B98A67;
  font-weight: 700;
}
.p-shop__linkBtn:link, .p-shop .shop__link-btn:visited {
  color: #EDECE7;
}
.p-shop__link p {
  font-size: 1vw;
  line-height: 1.8;
  margin-top: 3.5vh;
}

.p-location__inner {
  margin-top: 47vh;
}
.p-location__parallax {
  height: 35vw;
  overflow: hidden;
}
.p-location__parallaxInner {
  position: relative;
  width: 100vw;
  height: 200%;
  top: 0;
  background-image: url("../images/location/location_img.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
}
.p-location__title {
  font-size: 1vw;
  margin-top: 8.2vh;
  padding-left: 1.5625vw;
}
.p-location__text {
  margin-top: 4.5vh;
  padding-left: 1.5625vw;
  display: flex;
}
.p-location__address {
  width: 25vw;
  font-size: 0.8vw;
  line-height: 1.9;
}
.p-location__comment {
  font-size: 0.8vw;
  line-height: 1.6;
}
.p-location__nav nav {
  font-size: 0.8vw;
  margin-top: 3.5vh;
}
.p-location__navList {
  display: flex;
}
.p-location__navList:not(:first-child) {
  margin-top: 1vw;
}
.p-location__navItem a {
  color: black;
}
.p-location__navItem:not(:first-child) {
  margin-left: 3vw;
}

.l-footer__inner {
  margin-top: 11vh;
  padding: 0 1.5625vw 7.5625vw;
  display: flex;
  align-items: flex-end;
  font-size: 1vw;
}
.l-footer__male {
  width: 25vw;
}
.l-footer__mail dt {
  font-size: 1vw;
  line-height: 2;
}
.l-footer__mail a {
  text-decoration: underline;
  color: #000;
}
.l-footer__address {
  width: 48vw;
}
.l-footer__copyright {
  width: 24vw;
  text-align: right;
}

.midnightHeader.white {
  background: white;
  color: #242E43;
}

@media screen and (max-width: 769px) {
  .br_pc {
    display: none;
  }
  .br_sp {
    display: block;
  }
  .c-header__btnBox {
    display: block;
  }
  .l-header__container {
    padding: 5.12vw 4.35vw;
    background: none;
  }
  .l-header__title {
    width: 60%;
    padding: 0;
  }
  .l-header__title h1 {
    font-size: 5vw;
  }
  .l-header__titleSp {
    display: block;
  }
  .l-header__nav {
    display: none;
  }
  .l-header__navSpListMain li:not(:first-child) {
    margin-top: calc(var(--vh, 1vh) * 1.8);
    margin-left: 0;
  }
  .l-header__navSp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EDECE7;
    padding: 5.12vw 4.35vw;
    z-index: 200;
  }
  .l-header__navSpContents {
    color: #242E43;
  }
  .l-header__navSpListMain {
    font-size: 6vw;
    line-height: 1;
    display: block;
  }
  .l-header__navSpListMain a {
    color: #242E43;
  }
  .l-header__navSpListSub {
    font-size: 4vw;
    line-height: 1.6;
    margin-top: calc(var(--vh, 1vh) * 4);
    display: block;
  }
  .l-header__navSpListSub a {
    color: #242E43;
  }
  .l-header__navSpMail {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5.12vw 4.35vw;
  }
  .l-header__navSpMail dt {
    font-size: 3.4vw;
  }
  .l-header__navSpMail dd {
    font-size: 3.9vw;
    margin-top: calc(var(--vh, 1vh) * 1);
  }
  .l-header__navSpMail a {
    text-decoration: underline;
  }
  .l-header__btnBox {
    display: block;
    position: relative;
    font-size: 1.5vw;
    z-index: 300;
  }
  .c-header__btnBox {
    color: #fff;
    font-size: 3.7777vw;
    display: block;
    position: relative;
    z-index: 300;
  }
  .c-header__btn {
    position: absolute;
    top: 0;
    right: 8vw;
  }
  .btn_close {
    display: none;
    visibility: hidden;
    opacity: 0;
    top: 5vw;
    right: 4vw;
  }
  .p-hero__container {
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 0;
    padding-left: 0;
    width: 62%;
  }
  .p-hero__text {
    width: auto;
    display: none;
  }
  .p-hero__img {
    width: 100%;
  }
  .p-hero__slickTrack {
    height: 92vw;
  }
  .p-hero__slickTrack--img {
    height: 100%;
  }
  .p-hero__subContainer {
    bottom: 5.12vw;
    padding: 0 5.12vw;
  }
  .p-hero__subText {
    width: 100%;
    font-size: 3.33333vw;
    line-height: 1.3;
  }
  .p-hero__mark img {
    width: 5.3333vw;
    height: 5.3333vw;
    display: block;
    padding-left: 27vw;
  }
  .p-hero__mark span {
    display: none;
  }
  .p-about__inner {
    padding: calc(var(--vh, 1vh) * 4) 0 0 4.35vw;
  }
  .p-about__container {
    flex-direction: column;
    padding-top: 0;
  }
  .p-about__text {
    margin-top: calc(var(--vh, 1vh) * 12);
    width: 100%;
    z-index: 10;
  }
  .p-about__title {
    top: 0;
  }
  .p-about__titleLang {
    font-size: 8.4vw;
    padding-top: calc(var(--vh, 1vh) * 30);
  }
  .p-about__textBox {
    width: 95%;
    padding-top: calc(var(--vh, 1vh) * 16);
    letter-spacing: -0.01rem;
  }
  .p-about__commentEn, .p-about__commentJp {
    font-size: 3vw;
  }
  .p-about__commentJp {
    margin-top: 5vw;
  }
  .p-about__img {
    width: 40vw;
    height: 83.84vw;
    position: absolute;
    right: 0;
    top: calc(var(--vh, 1vh) * 28);
    z-index: 1;
  }
  .p-about__parallaxInner {
    background-image: url("../images/about/sp/about_img_sp.jpg");
    background-position: inherit;
    background-size: contain;
  }
  .p-menu__inner {
    padding: calc(var(--vh, 1vh) * 14) 4.35vw 0;
    flex-direction: column;
  }
  .p-menu__title {
    font-size: 3.7vw;
  }
  .p-menu__imgBox {
    width: 100%;
    margin-top: 1vw;
  }
  .p-menu__listItem:last-child {
    display: none;
  }
  .p-menu__listItem {
    width: 48%;
  }
  .p-menu__name {
    margin-top: 2.5vw;
  }
  .p-menu__other {
    margin-top: 18.5vw;
  }
  .p-menu__otherTitle {
    font-size: 1.3vw;
  }
  .p-menu__otherContents {
    min-height: calc(var(--vh, 1vh) * 11);
    padding: 1.5vw 0;
    justify-content: space-between;
  }
  .p-menu__otherContents:not(:first-child) {
    border-top: 1px solid #D9D9D9;
  }
  .p-menu__otherName {
    width: 75%;
    font-size: 4vw;
    flex-direction: column;
  }
  .p-menu__otherName h4 {
    font-size: 4vw;
  }
  .p-menu__otherName p {
    font-size: 2.5vw;
  }
  .p-menu__otherPriceBox {
    width: 24%;
    font-size: 3vw;
  }
  .p-menu__otherText {
    font-size: 1vw;
    margin-top: 2.6vw;
  }
  .p-shop {
    padding-top: 0;
  }
  .p-shop__inner {
    padding: calc(var(--vh, 1vh) * 14) 4.35vw 0;
  }
  .p-shop__inner h2 {
    position: relative;
    top: auto;
    left: auto;
    font-size: 3.7vw;
  }
  .p-shop__name {
    font-size: 2.8vw;
  }
  .p-shop__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    -webkit-box-align: start;
  }
  .p-shop__text {
    width: 65%;
    margin: 8vw 0 0 0;
    font-size: 3.2vw;
  }
  .p-shop__imgBox {
    width: 100%;
    margin-top: 3vw;
  }
  .p-shop__list img {
    height: 90%;
  }
  .p-shop__link {
    margin-top: calc(var(--vh, 1vh) * 5);
  }
  .p-shop__linkBtn {
    width: 100%;
    padding: 5vw 0 4vw 0;
    font-size: 4.8vw;
  }
  .p-shop__link p {
    font-size: 3vw;
    line-height: 1.95;
    margin-top: calc(var(--vh, 1vh) * 4);
  }
  .p-location__inner {
    margin-top: calc(var(--vh, 1vh) * 22);
  }
  .p-location__parallax {
    height: 42.82vw;
  }
  .p-location__title {
    font-size: 3.8vw;
    margin-top: calc(var(--vh, 1vh) * 6);
    padding-left: 4.35vw;
  }
  .p-location__text {
    margin-top: calc(var(--vh, 1vh) * 3);
    padding-left: 4.35vw;
    flex-direction: column;
  }
  .p-location__address {
    width: 100%;
    font-size: 2.8888vw;
  }
  .p-location__comment {
    font-size: 2.8888vw;
    line-height: 1.7;
    margin-top: calc(var(--vh, 1vh) * 2.5);
  }
  .p-location__nav nav {
    font-size: 2.8888vw;
    margin-top: calc(var(--vh, 1vh) * 4.5);
  }
  .p-location__navList:not(:first-child) {
    margin-top: calc(var(--vh, 1vh) * 2.3);
  }
  .l-footer__inner {
    margin-top: calc(var(--vh, 1vh) * 4.5);
    padding: 0 4.35vw 3vw;
    flex-direction: column;
    align-items: flex-start;
  }
  .l-footer__male {
    width: 100%;
    font-size: 2.8888vw;
  }
  .l-footer__address {
    display: none;
  }
  .l-footer__copyright {
    width: 100%;
    margin-top: calc(var(--vh, 1vh) * 11.5);
    text-align: center;
    font-size: 2.8888vw;
  }
}/*# sourceMappingURL=style.css.map */